table {
    border: 2px solid gray;
    border-spacing: 0px;
}

td {
    padding: 0px;
    border-left: 1px solid lightgray;
}

td:nth-child(3n+1) {
    border-left: 2px solid gray;
}

td:first-child {
    border-left: none;
}

tr > td {
    border-top: 1px solid lightgray;
}

tr:nth-child(3n+1) > td {
    border-top: 2px solid gray;
}

tr:first-child > td {
    border-top: none;
}

table input {
    background: white;
    padding: 0px;
    height: 42px;
    width: 42px;
    font-size: large;
    text-align: center;
    outline: none;
    border: none;
}